.footer__container {
  padding: 177px 0px 98px 133px;
  border: 3px solid #8B9D83;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 2fr;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer_info {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #424242;
  padding: 14px 0 38px 0;
}
.footer_requisites {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #A49B9B;
}
.footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__contacts_details {
  padding: 0 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__contacts_details img {
  margin-right: 37px;
}
.footer__contacts_details:first-child {
  margin-right: 150px;
}
.footer__contacts_details:first-child img {
  margin-right: 37px;
}
.footer__contacts_details:nth-child(2) {
  margin-right: 40px;
}
.footer__contacts_details:nth-child(2) img {
  margin-right: 37px;
}
.footer__contacts_details:last-child img {
  height: 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}