@media (max-width: 1401px) {
  .container__header {
    padding: 0 120px;
    margin-bottom: 34px;
    width: 100%;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo img {
    width: 200px;
    height: auto;
  }
  .header__phone {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.13px;
    color: #424242;
    padding: 0 18px;
  }
  .header__search {
    display: none;
  }
  .header__menu {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.13px;
    color: #424242;
  }
  .menu_item {
    margin: 0 40px 0 0;
  }
  .menu_item:nth-child(4) {
    width: 62px;
    margin: 0 40px 0 0;
  }
  .menu_item:last-child {
    margin: 0 0px 0 0;
  }
}
@media (max-width: 1201px) {
  .container__header {
    padding: 0 90px;
    margin-bottom: 34px;
    width: 100%;
  }
  .header__logo {
    padding: 0px;
  }
  .menu_item {
    margin: 0 10px 0 0;
  }
  .menu_item:nth-child(4) {
    margin: 0;
  }
  .menu_item:last-child {
    margin: 0;
  }
}
@media (max-width: 961px) {
  .header__menu {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #424242;
  }
  .header__logo img {
    width: 150px;
  }
  .header__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__phone {
    padding: 0 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #424242;
  }
  .menu_item {
    margin: 0 10px 0 0;
  }
  .menu_item:nth-child(4) {
    margin-right: -5px;
  }
}
@media (max-width: 1401px) {
  .slider {
    padding: 0 120px 10px 120px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .slider__container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 52%;
            flex: 1 1 52%;
    margin: 0px 90px 0 0px;
  }
  .slider__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
  }
  .slider__info h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #424242;
  }
  .slider_text {
    max-height: 100%;
  }
  .slider_text h1 {
    padding: 0 0 38px 0;
  }
  .slider-comments {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #424242;
    padding: 0 0 66px 0;
  }
  .slider_buttons {
    margin: -90px 0 200px 0;
  }
}
@media (max-width: 1201px) {
  .slider {
    padding: 0 90px 0px 90px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .slider .slider_buttons a {
    margin-left: 30px;
  }
  .slider__container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 52%;
            flex: 1 1 52%;
    margin: 0px 67px 0 0px;
  }
  .slider__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
  }
  .slider__info h1 {
    padding-bottom: 31px;
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;
    color: #424242;
  }
  .slider_text {
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: 200;
    line-height: 21px;
    color: #424242;
  }
  .slider .slider-comments {
    padding: 0 0 75px 0;
  }
  .slider_buttons {
    margin: -100px 0 200px 0;
  }
  .slider_buttons a {
    margin: 0 0 0 20px;
    width: 50px;
    height: 50px;
  }
  .slider_button_send {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: white;
    width: 228px;
    height: 50px;
  }
}
@media (max-width: 961px) {
  .slider {
    padding: 0 120px 0px 120px;
  }
  .slider__container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: 0px 27px 0 0px;
  }
  .slider__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .slider__info h1 {
    padding-bottom: 25px;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    color: #424242;
  }
  .slider_text {
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: 200;
    line-height: 21px;
    color: #424242;
  }
  .slider .slider-comments {
    padding-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #424242;
  }
  .slider_arrow_first,
.arrow-item {
    margin-left: 0;
  }
  .slider_arrow:active {
    background-color: #dfe4dd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .slider_buttons {
    padding-left: 120px;
    margin: 0px 0 150px 0;
  }
  .slider_buttons a {
    margin: 0 0 0 20px;
  }
}
@media (max-width: 1401px) {
  .steps-work {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 120px 216px 120px;
    background: url("/img/step_background.svg") no-repeat 100% 110%;
  }
  .steps-work_title {
    padding: 0 0 100px 0;
  }
  .steps-work_title h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #424242;
    padding-right: 100px;
  }
  .steps-work_title span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #424242;
    min-width: 50%;
  }
  .steps-work_number {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    color: #8B9D83;
  }
  .steps-work_text {
    padding-left: 25px;
  }
  .steps-work_text h3 {
    padding: 0 0 15px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #424242;
  }
  .steps-work_text span {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #424242;
  }
}
@media (max-width: 1201px) {
  .steps-work_wrapper {
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 1401px) {
  .projects {
    padding: 0 120px;
  }
  .projects__info h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 28px;
    color: #424242;
    padding: 0 10px 0 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .projects__info .projects_span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #424242;
    padding: 0 70px 0 51px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media (max-width: 1401px) {
  .secondSlider-container {
    padding: 80px 30px 138px 30px;
    gap: 0 0px;
    -ms-grid-columns: fit-content(5%) 0px fit-content(100%) 0px fit-content(5%);
    grid-template-columns: fit-content(5%) fit-content(100%) fit-content(5%);
  }
  .secondSlider_item {
    margin-left: 15px;
    margin-right: 15px;
  }
  .secondSlider_item_secondSlider-info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0px 0px;
  }
  .secondSlider_bottom-button {
    margin-top: 57px;
    width: 297px;
    height: 67px;
  }
  .secondSlider_item_title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #424242;
    padding: 45px 19px 45px 45px;
  }
  .secondSlider_arrow {
    margin: 0 0px;
  }
}
.secondSlider_item_button {
  width: 36%;
  height: 50px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.secondSlider_item_button a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: white;
}

@media (max-width: 961px) {
  .secondSlider_item_title {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #424242;
    padding: 45px 10px 45px 25px;
  }
  .secondSlider_item_button {
    width: 42%;
  }
  .secondSlider_item_button a {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: white;
  }
}
@media (max-width: 1401px) {
  .services {
    padding: 0 120px 111px 120px;
  }
  .services__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #424242;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .services__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .thirdSlider-container {
    -webkit-column-gap: 0 60px;
       -moz-column-gap: 0 60px;
            column-gap: 0 60px;
    row-gap: 57px;
    padding: 0 90px 57px 0;
  }
  .thirdSlider__items {
    padding-right: 30px;
  }
  .thirdSlider_item {
    margin-left: 30px;
  }
  .thirdSlider_item_thirdSlider-info h5 {
    margin: 33px 0 17px 0;
  }
  .thirdSlider_item_thirdSlider-info span {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #424242;
    margin: 0 0 35px 0;
    padding: 0 36px;
  }
}
.thirdSlider_bottom-button {
  margin-top: 40px;
}

@media (max-width: 1401px) {
  .questions {
    padding: 130px 120px 154px 120px;
  }
  .question__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #424242;
    padding: 0px 0 72px 0;
  }
  .fourthSlider_item {
    margin-right: 43px;
  }
  .fourthSlider-sliderLine {
    width: 100%;
    padding: 46px 0;
    margin-bottom: 0px;
  }
  .fourthSlider-sliderLine_form {
    background-size: 60%;
  }
  .fourthSlider-sliderLine_form [type=text] {
    padding: 0px 0px 0 10px;
  }
  .fourthSlider_buttons {
    margin-top: 465px;
  }
  .fourthSlider_button-back {
    margin: 0 46px 0 0;
  }
  .fourthSlider_button-forward {
    color: white;
  }
  .item-left_text {
    padding: 64px 0 57px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
  }
  .item-left_title {
    padding: 0px 0 26px 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;
    color: #424242;
  }
  .fourthSlider_item-right_manager-name img {
    width: 128px;
    height: 128px;
  }
  .fourthSlider_item-right_manager-name h4 {
    padding: 0 0 0 32px;
    font-size: 32px;
    font-weight: 600;
    line-height: 37.5px;
    color: #424242;
  }
  .fourthSlider_item-right_manager-name div span {
    padding: 7px 0 0 41px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
  }
  .fourthSlider_item-right_hello {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
    padding: 0px 0px 32px 0;
  }
  .fourthSlider_item-right_hello h4 {
    padding: 52px 0 0 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    color: #424242;
  }
  .fourthSlider_item-right_price {
    padding: 0 0 30px 0;
  }
  .fourthSlider_item-right_price img {
    margin: 0 23px 0 0;
    width: 70px;
    height: 70px;
  }
  .fourthSlider_hello_comments {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
  }
  .item-left_text {
    padding: 25px 0 32px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
  }
}
@media (max-width: 1201px) {
  .fourthSlider-sliderLine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fourthSlider_items {
    width: 100%;
  }
  .fourthSlider_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .fourthSlider_item-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0 50px 0 50px;
  }
  .fourthSlider_item-left {
    border: none;
  }
  .fourthSlider_button-back {
    width: 147px;
    height: 47px;
    padding: 10px 0;
  }
  .fourthSlider_button-forward {
    width: 147px;
    height: 47px;
    padding: 10px 0;
  }
  .fourthSlider-sliderLine_form {
    background: url("/img/questions_slider/background_slider_questions.png") no-repeat 80% 40%;
    background-size: 50%;
  }
  .fourthSlider-sliderLine_form [type=text] {
    width: 200px;
    height: 47px;
    padding: 0px 0px 0 10px;
  }
  .fourthSlider_buttons {
    margin: 450px 0 100px 0;
  }
}
@media (max-width: 1401px) {
  .fourthSlider2_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    padding-right: 52px;
    padding-left: 62px;
    margin-left: 52px;
  }
  .fourthSlider2_item-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  .fourthSlider2-items_material {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 53px 20% 53px 20%;
    grid-template-columns: repeat(3, 20%);
    gap: 19px 53px;
    padding: 0 0 90px 0;
    position: relative;
  }
  .fourthSlider2-item_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #424242;
  }
  .fourthSlider2-item_material {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fourthSlider2-item_material img {
    margin-bottom: 17px;
    width: 110px;
    height: 110px;
  }
  .fourthSlider2_buttons {
    margin: 115px 0 0 0;
  }
  .fourthSlider2-item_material_yourChoise {
    width: 192px;
    height: 43px;
  }
}
@media (max-width: 1201px) {
  .fourthSlider2_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 42px;
  }
  .fourthSlider2_item-left {
    border: none;
  }
  .fourthSlider2_buttons {
    margin-top: 60px;
  }
  .fourthSlider2_button-back {
    width: 147px;
    height: 47px;
    padding: 10px 0;
  }
  .fourthSlider2_button-forward {
    width: 147px;
    height: 47px;
    padding: 10px 0;
  }
  .fourthSlider2-item_material_yourChoise {
    width: 180px;
    height: 47px;
  }
}
@media (max-width: 1401px) {
  .fourthSlider3_form {
    padding: 62px 0 0 0;
  }
  .fourthSlider3-sliderLine_form {
    margin: 0px 0 0 0;
  }
  .fourthSlider3_buttons {
    margin-top: 365px;
  }
}
@media (max-width: 1401px) {
  .footer__container {
    padding: 70px 120px 74px 120px;
    border: 3px solid #8B9D83;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 25% 40%;
    grid-template-columns: 35% 25% 40%;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__logo img {
    width: 228px;
    height: 75px;
  }
  .footer_info {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #424242;
    padding: 17px 0 18px 0;
  }
  .footer_requisites {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #A49B9B;
  }
  .footer__menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__menu_item {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #424242;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer__contacts_details {
    padding: 0 0 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__contacts_details img {
    margin-right: 37px;
  }
  .footer__contacts_details:first-child {
    margin-right: 150px;
  }
  .footer__contacts_details:first-child img {
    margin-right: 37px;
  }
  .footer__contacts_details:nth-child(2) {
    margin-right: 50px;
  }
  .footer__contacts_details:nth-child(2) img {
    margin-right: 37px;
  }
  .footer__contacts_details:last-child {
    margin-right: 25px;
  }
  .footer__contacts_details:last-child img {
    height: 27px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
  }
  .footer__contacts .footer__contacts_details {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
  }
}
@media (max-width: 1201px) {
  .footer__container {
    -ms-grid-columns: 50% 50% 50%;
    grid-template-columns: 50% 50% 50%;
  }
  .footer__logo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_info {
    padding: 17px 10px 18px 0;
  }
  .footer_requisites {
    width: 100%;
  }
}
@media (max-width: 933px) {
  .footer__container {
    -ms-grid-columns: 50% 65% 35%;
    grid-template-columns: 50% 65% 35%;
  }
  .footer__logo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_info {
    padding: 17px 10px 18px 0;
  }
  .footer__menu_item {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #424242;
  }
  .footer__contacts_details, .footer__contacts_details div {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #424242;
  }
  .footer__contacts_details img {
    margin-right: 17px;
  }
  .footer__contacts_details:nth-child(2) img {
    margin-right: 17px;
  }
  .footer__contacts_details:first-child img {
    margin-right: 17px;
  }
  .footer__contacts_details:first-child {
    margin-right: 140px;
  }
  .footer_requisites {
    width: 100%;
  }
}