@media (max-width: 744px) {
  .container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 744px;
            flex: 1 1 744px;
  }
  .container__header {
    padding: 0 62px;
    margin-bottom: 59px;
  }
  .header__burger1, .header__burger1_active {
    position: relative;
    display: block;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
  }
  .header__burger1 span, .header__burger1_active span {
    position: absolute;
    background-color: black;
    width: 50%;
    height: 3px;
    top: 10px;
  }
  .header__burger1::before, .header__burger1_active::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 3px;
    top: -5px;
  }
  .header__burger1::after, .header__burger1_active::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 3px;
    top: -20px;
  }
  .header__info {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__logo img {
    width: 200px;
    height: auto;
  }
  .header {
    position: relative;
  }
  .header__burger1_menu_items, .header__burger1_menu_items_active {
    padding: 132px 184px 260px 82px;
    position: absolute;
    background-color: #B5B5B5;
    width: 63%;
    height: 667px;
    top: -710px;
    left: 48%;
    z-index: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .header__burger1_menu_items_active {
    z-index: 2;
    top: 0px;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .header__burger1_menu_items, .header__burger1_menu_items_active {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
  }
  .header__burger1_menu_item {
    padding: 0 0 40px 0;
  }
  .header__burger1_menu_item:nth-child(4) {
    white-space: nowrap;
    padding: 0 0 40px 0;
  }
  .header__burger1, .header__burger1_active {
    position: relative;
    display: block;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
  }
  .header__burger1 span, .header__burger1_active span {
    position: absolute;
    background-color: black;
    width: 50%;
    height: 3px;
    top: 10px;
  }
  .header__burger1::before, .header__burger1_active::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 3px;
    top: -5px;
  }
  .header__burger1::after, .header__burger1_active::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 3px;
    top: -20px;
  }
  .header__burger1_active {
    z-index: 3;
  }
  .header__burger1_active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 3;
  }
  .header__burger1_active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 3;
  }
  .header__burger1_active span {
    scale: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 3;
  }
}