@media (max-width: 1401px) {
  .container__header {
    padding: 0 117px;
    margin-bottom: 34px;
    max-width: 100%;
    height: 139px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 160px;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .header__logo img {
    width: 200px;
    height: 66px;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.13px;
    color: #424242;
  }
  .header .menu_item {
    margin: 0 40px 0 0;
  }
  .header .menu_item:nth-child(4) {
    width: 62px;
    margin: 0 40px 0 0;
  }
  .header .menu_item:last-child {
    margin: 0 0px 0 0;
  }
  .header .header__phone-img {
    width: 25px;
    height: 24px;
  }
  .header .header__phone {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #424242;
    padding: 0 18px;
  }
  .header .header__search {
    display: none;
  }
}
@media (max-width: 1201px) {
  .container__header {
    padding: 0 70px;
  }
  .header__menu {
    margin: 0 0 0 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.13px;
    color: #424242;
  }
  .header .menu_item {
    margin: 0 10px 0 0;
  }
  .header .menu_item:nth-child(4) {
    width: 62px;
    margin: 0 10px 0 0;
  }
  .header .menu_item:last-child {
    margin: 0 0px 0 0;
  }
}
@media (max-width: 1401px) {
  .slider {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .slider .slider_buttons a {
    margin-left: 30px;
  }
  .slider__info h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #424242;
  }
  .slider_text .slider-comments {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #424242;
  }
  .slider_arrow {
    width: 67px;
    height: 67px;
  }
}
@media (max-width: 1201px) {
  .slider__info h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    color: #424242;
  }
  .slider_buttons button {
    font-size: 12px;
  }
}
@media (max-width: 1055px) {
  .slider__info h1 {
    padding-bottom: 18px;
    font-size: 34px;
    font-weight: 600;
    line-height: 34px;
    color: #424242;
  }
  .slider_text {
    font-size: 16px;
    font-weight: 200;
    line-height: 18px;
    color: #424242;
  }
  .slider_buttons button {
    font-size: 12px;
  }
}