.projects {
  padding: 0 90px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects__info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__info h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  padding: 0 141px 0 0;
}
.projects__info .projects_span {
  display: block;
  padding: 0 309px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}