.secondSlider-container {
  width: 100%;
  padding: 80px 90px 193px 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(5%) 0px fit-content(100%) 0px fit-content(5%);
  grid-template-columns: fit-content(5%) fit-content(100%) fit-content(5%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 0 0px;
}

.secondSliderLine {
  overflow: hidden;
  width: 100%;
}

.secondSlider_arrow {
  margin: 0 62px 0 0;
}

.secondSlider_arrow_right {
  margin: 0 0px 0 32px;
}

.secondSlider__items {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.secondSlider_item {
  width: 100%;
  border: 4px solid #8B9D83;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0px;
  margin-right: 30px;
}

.secondSlider_img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.secondSlider_item_secondSlider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 10px;
}

.secondSlider_bottom-button {
  margin-top: 55px;
  -ms-grid-row: 2;
  grid-row: 2;
}