.slider {
  position: relative;
  padding: 0 90px 226px 90px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 49% 12%;
  grid-template-columns: 49% 49% 12%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("/img/main_background1.png") no-repeat 70% 60%;
}
.slider .slider-container {
  background-color: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin: 0px 0px 0 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider .slider__wrapper {
  width: 50%;
  overflow: hidden;
}
.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 3 40%;
          flex: 1 3 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px 0 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__info h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 75px;
  color: #424242;
}
.slider__info .slider_woodenhouse {
  color: #8B9D83;
}
.slider_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.slider_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}
.slider_buttons a {
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 81px;
  height: 81px;
  background-color: #8B9D83;
  border-radius: 50%;
  color: white;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.slider_arrow:hover {
  cursor: pointer;
  scale: 102%;
}
.slider .slider_arrow_first {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}