@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,regular);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  font-family: "Roboto";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--------------------*/
.comments {
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  color: #424242;
}

.allbuttons {
  width: 323px;
  height: 81px;
  background-color: #8B9D83;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: white;
}

.h3style {
  font-size: 48px;
  font-weight: 600;
  line-height: 56.25px;
  color: #424242;
  font-family: inherit;
}

.container {
  overflow: hidden;
  height: auto;
  background-color: #F3F4F0;
  padding: 0 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1920px;
          flex: 1 1 1920px;
}

.slider_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 82px;
  height: 82px;
  border: 2px solid #8B9D83;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 10px rgb(119, 117, 117);
          box-shadow: 2px 2px 10px rgb(119, 117, 117);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider_arrow:active {
  width: 80px;
  height: 80px;
  background-color: #dfe4dd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider_arrow:hover {
  cursor: pointer;
}

.slider_item_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
  height: 61px;
  background-color: #8B9D83;
  border-radius: 67px;
  padding: 20px;
}
.slider_item_button a {
  color: white;
}
.slider_item_button .mini-arrow {
  width: 18px;
  height: 17px;
  margin-left: 20px;
}

.titleSlider {
  width: 50%;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #424242;
}

.container__header {
  margin-bottom: 97px;
  max-width: 100%;
  height: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0px 0 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  color: #424242;
}
.header .menu_item {
  margin: 0 60px 0 0;
}
.header .menu_item:nth-child(4) {
  width: 62px;
  margin: 0 60px 0 0;
}
.header .menu_item:last-child {
  margin: 0 0px 0 0;
}
.header__info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__phone {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  color: #424242;
  padding: 0 19px;
}
.slider {
  position: relative;
  padding: 0 0 226px 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("/img/main_background1.png") no-repeat 70% 60%;
}
.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 65%;
          flex: 1 2 65%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider__info h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 75px;
  color: #424242;
}
.slider__info .slider_woodenhouse {
  color: #8B9D83;
}
.slider_text .slider-comments {
  display: block;
  padding-top: 32px;
}
.slider_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider_buttons a {
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 81px;
  height: 81px;
  background-color: #8B9D83;
  border-radius: 50%;
  color: white;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.slider__items img {
  width: 100%;
  height: auto;
}
.slider_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider_arrow:hover {
  cursor: pointer;
  scale: 102%;
}
.slider-container {
  background-color: inherit;
  width: 50%;
  margin: 0px 0px 0 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__wrapper {
  width: 50%;
  overflow: hidden;
}

.steps-work {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 433px 0;
  background: url("/img/step_background.svg") no-repeat 100% 110%;
}
.steps-work_title {
  padding: 0 0 66px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.steps-work_title h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}
.steps-work_title span {
  min-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.steps-work {
  height: auto;
}
.steps-work_steps {
  max-width: 100%;
}
.steps-work_number {
  font-size: 70px;
  font-weight: 600;
  line-height: 82px;
  color: #8B9D83;
}
.steps-work_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 57px;
}
.steps-work_text h3 {
  padding: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  font-weight: 400;
  line-height: 37.5px;
  color: #424242;
}
.steps-work_text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #424242;
}

.steps-work {
  max-width: 100%;
  height: 100vh;
}
.steps-work_wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  -ms-grid-rows: minmax(-webkit-max-content, auto) 100px minmax(-webkit-max-content, auto);
  -ms-grid-rows: minmax(max-content, auto) 100px minmax(max-content, auto);
  grid-template-rows: repeat(2, minmax(-webkit-max-content, auto));
  grid-template-rows: repeat(2, minmax(max-content, auto));
  gap: 100px 50px;
}

.steps-work_steps_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects__info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__info h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  padding: 0 141px 0 0;
}
.projects__info .projects_span {
  display: block;
  padding: 0 309px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.secondSlider-container {
  width: 100%;
  padding: 80px 0 193px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(5%) 60px fit-content(90%) 60px fit-content(5%);
  grid-template-columns: fit-content(5%) fit-content(90%) fit-content(5%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 0 60px;
}

.secondSliderLine {
  overflow: hidden;
  width: 100%;
}

.secondSlider__items {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.secondSlider_item {
  width: 100%;
  border: 4px solid #8B9D83;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.secondSlider_img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.secondSlider_item_secondSlider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 10px;
}

.secondSlider_bottom-button {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 297px;
  height: 63px;
  border: 2px solid #8B9D83;
  border-radius: 78px;
  -ms-grid-column: 2;
      grid-column-start: 2;
}
.secondSlider_bottom-button a {
  color: #686656;
  display: block;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 80px 0;
}
.services__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.services__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.thirdSlider-container {
  width: 100%;
  height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(5%) 0 60px fit-content(90%) 0 60px fit-content(5%);
  grid-template-columns: fit-content(5%) fit-content(90%) fit-content(5%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-column-gap: 0 60px;
     -moz-column-gap: 0 60px;
          column-gap: 0 60px;
}

.thirdSlider-sliderLine {
  overflow: hidden;
  width: 100%;
}

.thirdSlider__items {
  padding-right: 30px;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.thirdSlider_item {
  width: 100%;
  border: 4px solid #8B9D83;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdSlider_item_thirdSlider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thirdSlider_item_thirdSlider-info h5 {
  margin: 33px 0 17px 0;
}
.thirdSlider_item_thirdSlider-info span {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #424242;
  margin: 0 0 35px 0;
  padding: 0 36px;
}

.thirdSlider_img {
  width: 100%;
}

.third_button {
  width: 80%;
  margin-bottom: 32px;
}

.question__title {
  padding: 0px 0 72px 0;
}

.fourthSlider-sliderLine {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #8B9D83;
  padding: 61px 52px;
  margin-bottom: 100px;
  background-color: #F5F1EC;
}

.fourtSlider_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.fourtSlider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.fourthSlider_item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 59.6551724138%;
          flex: 1 1 59.6551724138%;
  border-right: 2px solid white;
}
.fourthSlider_item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 39.7701149425%;
          flex: 1 1 39.7701149425%;
}

.item-left_text {
  padding: 64px 0 57px 0;
}

.item-left_title {
  padding: 58px 0 58px 0;
}

.fourthSlider_form {
  height: 82.1018062397%;
}
.fourthSlider_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourthSlider-sliderLine_form {
  background: url("/img/questions_slider/background_slider_questions.png") no-repeat 80%;
  background-size: 50%;
  height: 100%;
}
.fourthSlider-sliderLine_form [type=text] {
  width: 30%;
  height: 75px;
  border: 2px solid #b5b3b0;
  border-radius: 20px;
}

.fourthSlider_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fourthSlider_button-back {
  height: 62px;
  width: 18.7140115163%;
  background-color: white;
  border: 2px solid #b5b3b0;
  margin: 0 46px 0 0;
}

.fourthSlider_button-forward {
  color: white;
  height: 62px;
  width: 18.7140115163%;
}