@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  font-family: "Roboto";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--------------------*/
.comments {
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  color: #424242;
}

.allbuttons {
  width: 323px;
  height: 81px;
  background-color: #8B9D83;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: white;
}

.container {
  overflow: hidden;
  height: auto;
  background-color: #F3F4F0;
  padding: 0 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1920px;
          flex: 1 1 1920px;
}

.container__header {
  margin-bottom: 97px;
  max-width: 100%;
  height: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0px 0 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  color: #424242;
}
.header .menu_item {
  margin: 0 60px 0 0;
}
.header .menu_item:nth-child(4) {
  width: 62px;
  margin: 0 60px 0 0;
}
.header .menu_item:last-child {
  margin: 0 0px 0 0;
}
.header__info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__phone {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  color: #424242;
  padding: 0 19px;
}
.slider {
  position: relative;
  padding: 0 0 226px 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("/img/main_background1.png") no-repeat 70% 60%;
}
.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 65%;
          flex: 1 2 65%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider__info h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 75px;
  color: #424242;
}
.slider__info .slider_woodenhouse {
  color: #8B9D83;
}
.slider_text .slider-comments {
  display: block;
  padding-top: 32px;
}
.slider_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider_buttons a {
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 81px;
  height: 81px;
  background-color: #8B9D83;
  border-radius: 50%;
  color: white;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: auto;
}
.slider__items img {
  width: 100%;
  height: auto;
}
.slider_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider_arrow:hover {
  cursor: pointer;
  scale: 102%;
}
.slider-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45.4%;
          flex: 1 0 45.4%;
  margin: 0px 0px 0 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}