.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 90px 80px 90px;
}
.services__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.services__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.thirdSlider-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(5%) 0 60px fit-content(90%) 0 60px fit-content(5%);
  grid-template-columns: fit-content(5%) fit-content(90%) fit-content(5%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-column-gap: 0 60px;
     -moz-column-gap: 0 60px;
          column-gap: 0 60px;
  padding: 0 0px;
}

.thirdSlider-sliderLine {
  overflow: hidden;
  width: 100%;
}

.thirdSlider__items {
  padding-right: 30px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.thirdSlider_item {
  width: 100%;
  border: 4px solid #8B9D83;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdSlider_item_thirdSlider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thirdSlider_item_thirdSlider-info h5 {
  margin: 33px 0 17px 0;
}
.thirdSlider_item_thirdSlider-info span {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #424242;
  margin: 0 0 35px 0;
  padding: 0 36px;
}

.thirdSlider_img {
  width: 100%;
}

.third_button {
  width: 80%;
  margin-bottom: 32px;
}

.thirdSlider_bottom-button {
  margin-top: 0px;
  -ms-grid-column: 2;
      grid-column-start: 2;
}