@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.container__header {
    align-items: center;
    position: relative;
    padding: 0 90px;
    margin-bottom: 97px;
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-items: flex-start;
    max-width: 100%;
    height: auto;
    align-items: center;

    &__logo {
        padding-right: 76px;
        max-width: 100%;
        height: auto;
    }


    &__info {
        display: flex;
        margin-left: auto;
        @include FontsizeFontWeightLineheightColor(24px, 400, 28.13px, #424242);
        padding: 0 19px;

    }

    .header {

        &__phone {
            white-space: nowrap;
        }
    }

    &__menu {
        margin: 0;
        display: flex;
        @include FontsizeFontWeightLineheightColor(24px, 400, 28.13px, #424242);
    }
    
    &__phone-img {
        width: 28px;
        height: 28px;
    }
    
    &__burger1 {
        display: block;
        width: 49px;
        height: 30px;
    
    }
}


.menu {

    &_item {
        margin: 0 50px 0 0;
    }

    &_item:nth-child(4) {
        width: 62px;
        margin: 0 60px 0 0;
    }

    &_item:last-child {
        margin: 0 0px 0 0;
    }
}

.header__burger1_menu {
    display: none;
}