
@mixin FontsizeFontWeightLineheightColor ($fs,$fw,$lh,$c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}
@mixin WidthHeight ($w,$h) {
    width: $w;
    height: $h;
}

.container__header {
    margin-bottom: 97px;
    max-width:100%;
    height: auto;
    // flex: 1 1 auto;
}
.header {
    display:flex;
    align-items: center;
    height:160px;
    max-width:100%;
    // flex: 1 1 auto;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1 auto;
        // margin: 0 76px 0 0;
    }

    &__menu {
        flex: 1 1 auto;
        justify-content: flex-start;
        margin: 0 0px 0 76px;
        display: flex;
        @include FontsizeFontWeightLineheightColor(24px,400 ,28.13px ,#424242 );
    }

  
.menu {

    &_item {
        margin: 0 60px 0 0;
    }
    &_item:nth-child(4)  {
        width:62px;
        margin: 0 60px 0 0;
        // flex: 1 0 62px;
    }
    &_item:last-child {
        margin: 0 0px 0 0;
    }
}

&__info{
    justify-content: flex-end;
    // flex: 1 0 auto;
    // padding-left: 512px;
// flex-direction: raw;
 display: flex;
//  flex: 0 0 548px;
}
.header {

    &__phone-img {
        // padding-left: 250px;
    }

    &__phone {
        // display: block;
        @include FontsizeFontWeightLineheightColor(24px,400 ,28.13px ,#424242 );
padding: 0 19px;
    }

    &__search {
        // display: block;
    }
}
}