@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.questions {
    padding: 0 90px;
}

.question__title {
    padding: 0px 0 72px 0;
}

.fourthSlider-sliderLine {
    // ограничивающий контейнер для блока
    width: 100%;
    height: 100%;
    display: flex;
    border: 3px solid #8B9D83;
    padding: 30px 0px;
    margin-bottom: 100px;
    background-color: #F5F1EC;
    overflow: scroll;
}

.fourthSlider {

    &_items {
        //слайдео, котоый анимируем на transition
        display: flex;
        width: 100%;
        // transform: translate(-1400px) ;

    }

    &_item {
        // блок слайдер состоящий из левой и правой секции
        display: flex;
        margin-right: 52px;
        padding: 0 52px;
        // flex-direction: column;
        min-width: 100%;

    }
}

.fourthSlider {

    &_item-left {
        display: flex;
        flex-direction: column;
        flex: 1 1 60%;
        border-right: 2px solid white;
    }



}

.item-left_text {
    padding: 53px 0 52px 0;

}

.item-left_title {
    padding: 58px 0 58px 0;

}

.fourthSlider_form {
    display: flex;
    flex-direction: column;
    height: calc(500/609 * 100%);
    // background-color: aquamarine;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-height: 600px;
    }

}

.fourthSlider-sliderLine_form {
    background: url('/img/questions_slider/background_slider_questions.png') no-repeat 80%;
    background-size: 40%;
    height: 100%;
    // align-items: center;

    [type="text"] {
        padding: 5px 10px;
        width: 50%;
        height: 70px;
        border: 2px solid #b5b3b0;
        border-radius: 20px;


    }
}

.fourthSlider_buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 450px;
}

.fourthSlider_button-back {
    height: 62px;
    width: 185px;
    background-color: white;
    border: 2px solid #b5b3b0;
    margin: 0 46px 0 0;
    @include FontsizeFontWeightLineheightColor(20px,400 ,23px ,#686656);
}

.fourthSlider_button-forward {
    height: 62px;
    width: 185px;
    @include FontsizeFontWeightLineheightColor(20px,400 ,23px ,white);
}

.fourthSlider_item-right {
    padding: 0 0px 0 64px;
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
}

.fourthSlider_item-right_manager-name {
    display: flex;
    padding: 0 0 0 0px;
    margin: 0 0 51px 0px;
    align-items: center;

    h4 {
        padding: 0 0 0 41px;
        @include FontsizeFontWeightLineheightColor(40px, 600, 47px, #424242)
    }

    div {
        display: flex;
        flex-direction: column;

        span {
            padding: 13px 0 0 41px;
            @include FontsizeFontWeightLineheightColor(24px, 400, 28px, #424242);
        }
    }

}

.fourthSlider_item-right_hello {
    @include FontsizeFontWeightLineheightColor(28px, 400, 32.81px, #424242);
    padding: 0px 0px 52px 0;

    h4 {
        padding: 52px 0 0 0;
        @include FontsizeFontWeightLineheightColor(32px, 600, 38px, #424242)
    }
}

.fourthSlider_item-right_price {
    padding: 0 0 30px 0;
    display: flex;
    align-items: center;

    img {
        margin: 0 31px 0 0;
    }
}

// ВТОРОЙ БЛОК СЛАЙДЕРА -------------------------------------------------------------------------------------
.fourthSlider2 {


    &_item {
        // блок слайдер состоящий из левой и правой секции
        display: flex;
        // flex-direction: column;
        min-width: 100%;
        padding: 0 52px;

        margin-left: 52px;
    }

    &-items_material {
        display: grid;
        grid-template-columns: repeat(3, 20%);
        gap: 60px 33px;
        padding: 0 0 42px 0;
    }

    &-item_material {
        
        display: flex;
        flex-direction: column;

        img {
            margin-bottom: 22px;
            width: 142px;
            height: 142px;
        }

        span {
            @include FontsizeFontWeightLineheightColor(20px, 400, 23px, #525252);
        }
    }



    &-item_material_yourChoise {
        @include FontsizeFontWeightLineheightColor(20px, 400, 23px, #525252);
        background-color: white;
        width: 304px;
        height: 80px;
        border-radius: 20px;
        padding: 30px 20px;
       
    }

    &_item-right {
        padding: 0 0 0 64px;
        flex: 1 1 40%;
    }

    &_item-left {

            display: flex;
            flex-direction: column;
            flex: 1 1 60%;
            border-right: 2px solid white;
        
        
            &_text {}
        
            &_title {}
        
    }

    &_form2 {
        display: flex;
        flex-direction: raw;
        justify-content: space-around;
        // max-height: 600px;
    }

    &_buttons {
        display: flex;
        justify-content: flex-start;
        margin-top: 0px;
        width:70%;
    }

    &_button-back {
        height: 62px;
        width: 185px;
        background-color: white;
        border: 2px solid #b5b3b0;
        padding: 15px 0;
        margin: 0 46px 0 0;
        @include FontsizeFontWeightLineheightColor(20px,400 ,23px ,#686656);

    }

    &_button-forward {
        padding: 15px 0;
        height: 62px;
        width: 185px;
        @include FontsizeFontWeightLineheightColor(20px,400 ,23px ,white);

    }
}


.fourthSlider-sliderLine {

    &_form2 {
        display: flex;
        flex-direction: column;
    }
}
.fourthSlider2_item-right {
    padding: 0 0px 0 64px;
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
}

.fourthSlider2_item-right_manager-name {
    display: flex;
    padding: 0 0 0 0px;
    margin: 0 0 51px 0px;
    align-items: center;

    h4 {
        padding: 0 0 0 41px;
        @include FontsizeFontWeightLineheightColor(40px, 600, 47px, #424242)
    }

    div {
        display: flex;
        flex-direction: column;

        span {
            padding: 13px 0 0 41px;
            @include FontsizeFontWeightLineheightColor(24px, 400, 28px, #424242);
        }
    }

}

.fourthSlider2_item-right_hello {
    @include FontsizeFontWeightLineheightColor(28px, 400, 32.81px, #424242);
    padding: 0px 0px 52px 0;

    h4 {
        padding: 52px 0 0 0;
        @include FontsizeFontWeightLineheightColor(32px, 600, 38px, #424242)
    }
}

.fourthSlider2_item-right_price {
    padding: 0 0 30px 0;
    display: flex;
    align-items: center;

    img {
        margin: 0 31px 0 0;
    }
}
