@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.questions {
    padding: 0 90px;
}

.question__title {
    padding: 0px 0 72px 0;
}

.fourthSlider-sliderLine {
    // ограничивающий контейнер для блока
    width: 100%;
    height: 100%;
    display: flex;
    border: 3px solid #8B9D83;
    padding: 30px 0px;
    margin-bottom: 100px;
    background-color: #F5F1EC;

}

.fourthSlider {

    &_items {
        //слайдео, котоый анимируем на transition
        display: flex;
        width: 60%;
        overflow: scroll;
        // transform: translate(-1400px) ;

    }

    &_item {
        // блок слайдер состоящий из левой и правой секции
        display: flex;
        margin-right: 52px;
        padding: 0 52px;
        // flex-direction: column;
        min-width: 100%;

    }

    &_form {
        display: flex;
        flex-direction: column;
        height: calc(500/609 * 100%);
        // background-color: aquamarine;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-height: 600px;
        }

    }

    &_item-left {
        display: flex;
        flex-direction: column;
        flex: 1 1 60%;
        border-right: 2px solid white;
    }

    &_item-right {
        padding: 0 65px 0 14px;
        display: flex;
        flex-direction: column;
        flex: 1 1 40%;
    }

    &_item-right_manager-name {
        display: flex;
        padding: 0 0 0 0px;
        margin: 0 0 51px 0px;
        align-items: center;

        h4 {
            padding: 0 0 0 41px;
            @include FontsizeFontWeightLineheightColor(40px, 600, 47px, #424242)
        }

        div {
            display: flex;
            flex-direction: column;

            span {
                padding: 13px 0 0 41px;
                @include FontsizeFontWeightLineheightColor(24px, 400, 28px, #424242);
            }
        }

    }

    &_item-right_hello {
        @include FontsizeFontWeightLineheightColor(24px, 400, 28px, #424242);
        padding: 0px 0px 52px 0;

        h4 {
            padding: 52px 0 0 0;
            @include FontsizeFontWeightLineheightColor(32px, 600, 38px, #424242)
        }
    }

    &_hello_comments {
        @include FontsizeFontWeightLineheightColor(24px, 400, 28px, #424242);


    }

    &_item-right_price {
        padding: 0 0 30px 0;
        display: flex;
        align-items: center;

        img {
            margin: 0 31px 0 0;
        }
    }

    &-sliderLine_form {
        background: url('/img/questions_slider/background_slider_questions.png') no-repeat 80%;
        background-size: 40%;
        height: 100%;

        [type="text"] {
            padding: 5px 10px;
            width: 50%;
            height: 70px;
            border: 2px solid #b5b3b0;
            border-radius: 20px;
        }
    }

    &_buttons {
        display: flex;
        justify-content: flex-start;
        margin-top: 450px;
    }



}

.item-left_text {
    padding: 53px 0 52px 0;

}

.item-left_title {
    padding: 58px 0 58px 0;

}


// ВТОРОЙ БЛОК СЛАЙДЕРА -------------------------------------------------------------------------------------
.fourthSlider2 {


    &_item {
        // блок слайдер состоящий из левой и правой секции
        display: flex;
        // flex-direction: column;
        min-width: 100%;
        padding: 0 52px 0 75px;
        margin-left: 52px;
    }

    &-items_material {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 20%);
        gap: 60px 33px;
        padding: 0 0 42px 0;
    }

    &-item_material {

        display: flex;
        flex-direction: column;

        img {
            margin-bottom: 22px;
            width: 142px;
            height: 142px;
        }

    }

    &-item_description {
        @include FontsizeFontWeightLineheightColor(20px, 400, 16px, #424242);
    }

    &-item_material_yourChoise {
        width: 304px;
        height: 80px;
        border-radius: 20px;
        padding: 15px;
        @include FontsizeFontWeightLineheightColor(20px, 400, 23px, #525252);

    }



    &_item-left {

        display: flex;
        flex-direction: column;
        flex: 1 1 60%;
        border-right: 2px solid white;

    }

    &_form2 {
        display: flex;
        flex-direction: raw;
        justify-content: space-around;
        // max-height: 600px;
    }

    &_buttons {
        display: flex;
        justify-content: flex-start;
        margin-top: 53px;
        width: 70%;
    }

}


// .fourthSlider-sliderLine {

//     &_form2 {
//         display: flex;
//         flex-direction: column;
//     }
// }

// FOURHSLDIER 3 БЛОК ----------------------------------------------------

.fourthSlider3 {

    &_item {
        // блок слайдер состоящий из левой и правой секции
        display: flex;
        // flex-direction: column;
        min-width: 100%;
        padding: 0 52px 0 75px;
        margin-left: 52px;
    }

    &_item-left {
        // блок слайдер состоящий из левой и правой секции
        display: flex;
        flex-direction: column;
        min-width: 100%;
        border-right: 2px solid white;
        //   padding: 0 52px 0 75px;
        //   margin-left: 52px;
    }

    &_form {}
}

.item-left {



    &_text {}

    &_title {}
}

.fourthSlider3-sliderLine {

    &_form {}
}

.fourthSlider3-items {

    &_material {
        position: relative;
        display: flex;
        align-items: center;
        @include FontsizeFontWeightLineheightColor(20px, 400, 23px, #000000);

        [type=radio] {
            margin: 0 31px 0 0;
            width: 55px;
            height: 55px;
            border-radius: 2px;
            opacity: 0%;
            z-index: 1;
        }

        [type=radio]:checked {
            opacity: 0%;

        }

        label {
            position: relative;
            margin: 0 158px 0 0;

        }

        label:before {
            content: "";
            width: 55px;
            height: 55px;
            border: 4px solid #8B9D83;
            position: absolute;
            border-radius: 8px;
            top: -15px;
            left: -86px;

        }

        label:before:checked {
            width: 100px;
        }
        .fourthSlider3-checked {
            transition: opacity 0.5s linear;
        }
        .fourthSlider3-checked:before {
            contain: "sdfsdf";
            position: absolute;
            background: url('/img/checked_active.png') no-repeat 30% 50%;
            transition: opacity 0.5s linear;
        }
    }

    &-checked {
        position: relative;
    }

}

.fourthSlider3 {

    &_buttons {
        display: flex;
        margin: 400px 0 0 0;
    }

}

.slider {

    &_item {}
}