@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.secondSlider-container {
    // общий контенйер
    width: 100%;
    padding: 80px 0 193px 0;
    // height: auto;
    display: grid;
    grid-template-columns: fit-content(5%) fit-content(90%) fit-content(5%);
    align-items: center;
    gap: 0 60px;
}

.secondSlider {
    &__items {
        width:100%;
        height: auto;
        box-sizing: border-box;
        display: flex; // sliderline
    }
   

    &_item {
        width:100%;
        border: 4px solid #8B9D83;
        border-radius: 15px;
        display: flex; // элементы слайдера
        flex-direction: column;
        
    }
    &_item:first-child {
        margin-right:30px;
    }
    &_item:nth-child(2) {
        margin-left:30px;
    }
  
    
    }
    .secondSlider_img {
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .secondSlider_item_secondSlider-info {
display: flex;
justify-content: center;
align-items: center;
padding: 38px 10px ;
        span {
            width: 50%;
            @include FontsizeFontWeightLineheightColor(20px, 400, 23px, #424242)
        }

    }

    .secondSlider_item_button {
        display: flex; 
        justify-content: space-around;
        width: 237px;
        height: 61px;
        background-color: #8B9D83;
        border-radius: 67px;
        padding:20px;
        
        a {
            color:white;

        }

        .mini-arrow {
            width: 18px;
            height: 17px;
            margin-left: 20px;
        }

    }


.arrow-left,
.arrow-right {}