@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.secondSlider-container {
    // общий контенйер
    width: 100%;
    padding: 80px 90px 193px 90px;
    display: grid;
    grid-template-columns: fit-content(5%) fit-content(100%) fit-content(5%);
    align-items: center;
justify-items: center;
    gap: 0 0px;
}
.secondSliderLine {
    overflow: hidden;
    width:100%;
}
.secondSlider_arrow {
    margin: 0 62px 0 0;
}
.secondSlider_arrow_right {
    margin: 0 0px 0 32px;
}

.secondSlider {
    
    &__items {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: flex;
        transition: all 0.5s ease-out;
        
    }

    &_item {
        width: 100%;
        border: 4px solid #8B9D83;
        border-radius: 15px;
        display: flex; // элементы слайдера
        flex-direction: column;
        margin-left:0px;
        margin-right:30px;

    }

}

.secondSlider_img {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.secondSlider_item_secondSlider-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 10px;

}

.secondSlider_bottom-button{
    margin-top: 55px;
    grid-row: 2 ;

}