@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.secondSlider-container {
    // общий контенйер
    width: 100%;
    padding: 80px 0 193px 0;
    display: grid;
    grid-template-columns: fit-content(5%) fit-content(90%) fit-content(5%);
    align-items: center;
justify-items: center;
    gap: 0 60px;
}
.secondSliderLine {
    // padding: 0 30px;
    overflow: hidden;
    width:100%;
}

.secondSlider {
    &__items {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: flex;
        transition: all 0.5s ease-out;
    }

    &_item {
        width: 100%;
        border: 4px solid #8B9D83;
        border-radius: 15px;
        display: flex; // элементы слайдера
        flex-direction: column;
        margin-left:30px;

    }

    // &_item:first-child {
    //     margin-left: 0px;
    // }

}

.secondSlider_img {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.secondSlider_item_secondSlider-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 10px;

}


.arrow-right {}

.secondSlider_bottom-button {
    margin-top: 55px;
    display: flex;
    align-items: center;
    align-self: center;
    // justify-self: center;
    justify-content: center;
    width: 297px;
    height: 63px;
    border: 2px solid #8B9D83;
border-radius: 78px;
    a {
        color: #686656;
        display: block
    }
    grid-column-start: 2;
    // grid-column-end: -1;

}