@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.slider {
    position: relative;
    padding: 0 0 226px 0;
    width: 100%;
    flex: 1 1 100%;
    display: flex;
    // flex-direction: column;
    box-sizing: border-box;
    background: url('/img/main_background1.png') no-repeat 70% 60% ;
    

    &__info {
        display: flex;
        flex: 1 2 65%;
        // max-height:100%;
        justify-content: space-around;
        flex-direction: column;
        // padding: 0 170px 0 0;
        // width: 40%;
        
        h1 {
            @include FontsizeFontWeightLineheightColor(64px, 600, 75px, #424242)
        }
        

        span {}

        .slider_woodenhouse {
            color: #8B9D83;
        }
    }

&_text{

    .slider-comments {
        
        display: block;
        padding-top:32px;
    }
}
    &_buttons {
        display: flex;
        a{
            margin-left: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include WidthHeight(81px,81px );
            background-color:#8B9D83;
            border-radius: 50%;
        //   background-image: url(/img/instagram.png);
            color:white;
            // @include FontsizeFontWeightLineheightColor(16px,400 ,18px ,white )
      
        }
     
    }

    &__items {
        display: flex;
        transition: transform 0.5s  ease-in-out;
        // transform: translate(-100px);
        flex: 1 1 100%;
        // height:100%
        img{
            width:100%;
            height:auto;
        
        }
    }

    &_item {}

    &_arrow {
        display: flex;
        align-items: center;
        
    }
    &_arrow:hover {
        cursor: pointer;
        scale: 102%;
        
    }

.arrow-item{
// padding-top: 250px;
}

}

.slider-container {
    background-color: inherit;
    width:50%;
    margin: 0px 0px 0 0px;
    // padding: 0 0px 0 170px;
    // margin-right:114px;
    overflow: hidden;
    display: flex;
    height: auto;
    justify-content: space-between;
    //    max-width: 50%;
}
.slider__wrapper {
    width: 50%;
    overflow: hidden;
}