@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.slider {
    position: relative;
    padding: 0 90px 10px 90px;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    background: url('/img/main_background1.png') no-repeat 70% 60%;



    &__info {
        display: flex;
        flex: 1 1 49%;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 10px 50px 0;
        height: 100%;
        align-items: center;

        h1 {
            padding: 0 0 32px 0;
            @include FontsizeFontWeightLineheightColor(64px, 600, 75px, #424242)
        }

        .slider_woodenhouse {
            color: #8B9D83;
        }

      
    }

    &_text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

   
    &__items {
        display: flex;
        transition: transform 0.5s ease-in-out;
        flex: 1 1 100%;
    }

    &_arrow:hover {
        cursor: pointer;
        scale: 102%;
    }

    .slider_arrow_first {
        position: absolute;
    }
}
.slider-comments {
    padding: 0 0 134px 0;
}

.slider__container {
    background-color: inherit;
    flex: 1 1 47%;
    margin: 0px 120px 0 0px;
    overflow: hidden;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.slider_buttons {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: -120px 0 250px 0;
    padding-left: 90px;

    a {
        margin-left: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include WidthHeight(81px, 81px);
        background-color: #8B9D83;
        border-radius: 50%;
        color: white;
    }
}
