@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

.slider {
    position: relative;
    padding: 0 90px 226px 90px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: (49% 49% 12%);
    box-sizing: border-box;
    background: url('/img/main_background1.png') no-repeat 70% 60%;

    .slider-container {
        background-color: inherit;
        flex: 1 1 60%;
        margin: 0px 0px 0 0px;
        overflow: hidden;
        display: flex;
        height: 100%;
        justify-content: space-between;
    }

    .slider__wrapper {
        width: 50%;
        overflow: hidden;
    }

    &__info {
        display: flex;
        flex: 1 3 40%;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 10px 0 0;
        height: 100%;
        align-items: center;

        h1 {
            @include FontsizeFontWeightLineheightColor(64px, 600, 75px, #424242)
        }

        .slider_woodenhouse {
            color: #8B9D83;
        }
    }

    &_text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    &_buttons {
        display: flex;
        align-items: flex-end;
        width: 100%;
        a {
            margin-left: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include WidthHeight(81px, 81px);
            background-color: #8B9D83;
            border-radius: 50%;
            color: white;
        }
    }

    &__items {
        display: flex;
        transition: transform 0.5s ease-in-out;
        flex: 1 1 100%;
    }

    &_arrow:hover {
        cursor: pointer;
        scale: 102%;
    }
    .slider_arrow_first {
        align-self: center;
    }
}