@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,regular);
@import '../scss/null.scss';


@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}

// ОБЩИЕ КЛАССЫ ДЛЯ ВСЕГО ПРОЕКТА
.comments {
    @include FontsizeFontWeightLineheightColor(28px, 400, 32.81px, #424242);
}

.allbuttons {
    @include WidthHeight(323px, 81px);
    background-color: #8B9D83;
    border-radius: 40px;
    @include FontsizeFontWeightLineheightColor(16px, 400, 18px, white)
}

.h3style {
    // заголовки h3 Прозрачный и понятный процесс работы
    @include FontsizeFontWeightLineheightColor(48px, 600, 56.25px, #424242);
    font-family: inherit;
}

.description {
    @include FontsizeFontWeightLineheightColor(24px, 400, 28px, #424242);

}

.container {
    max-width: 1920px;
    overflow: hidden;
    height: auto;
    background-color: #F3F4F0;
    padding: 36px 0px;

}

@media (max-width:1401px) {
    .container {
        flex: 1 1 1400px;
    }
}

// .wrapper{
//     width:100%;
//     height:auto;
//     flex: 1 1 auto;
// }
//стили для боковых стрелок в слайдерах
.slider_arrow {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 82px;
    border: 2px solid #8B9D83;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(119, 117, 117);
    transition: all 0.3s ease;
}

.slider_arrow:active {
    width: 80px;
    height: 80px;
    background-color: #dfe4dd;
    transition: all 0.3s ease;
}

.slider_arrow:hover {
    cursor: pointer;
}

@media (max-width:1401px) {
    .slider_arrow {
        margin-left: 20px;
        width: 67px;
        height: 67px;
    }

    .slider_arrow:active {
        width: 69px;
        height: 69px;

    }

}

@media (max-width:744px) {
    .arrow-item {
        width: 48px;
        height: 48px;
    }

    .slider_arrow {
        width: 48px;
        height: 48px;
    }

    .slider_arrow:active {
        width: 46px;
        height: 46px;

    }
}


// стили для кнопки в слайдере смотреть проект -> , а также для наименования в слайдере КП золотые сосны
.slider_item_button {
    display: flex;
    justify-content: space-around;
    width: 35%;
    height: 61px;
    background-color: #8B9D83;
    border-radius: 67px;
    padding: 20px;

    a {
        color: white;

    }

    .mini-arrow {
        width: 18px;
        height: 17px;
        margin-left: 20px;
    }

}

.slider_item_button-back {
    height: 62px;
    width: 185px;
    background-color: white;
    border: 2px solid #b5b3b0;
    margin: 0 46px 0 0;
    border-radius: 51px;
    @include FontsizeFontWeightLineheightColor(20px, 400, 23px, #686656);
}

.slider_item_button-forward {
    height: 62px;
    width: 185px;
    background-color: #8B9D83;
    border: 2px solid #b5b3b0;
    border-radius: 51px;
    margin: 0 46px 0 0;
    @include FontsizeFontWeightLineheightColor(20px, 400, 23px, white);
}


@media(max-width:1401px) {

    .slider_item_button-back,
    .slider_item_button-forward {
        width: 147px;
        height: 47px;
        padding: 10px 0;
    }

    .slider_item_button-forward {
        @include FontsizeFontWeightLineheightColor(16px, 400, 18px, #FFFFFF);
    }

    .slider_item_button-back {
        @include FontsizeFontWeightLineheightColor(16px, 400, 18px, #686656);
    }


}

.secondSlider_bottom-button_general {
    margin-top: 55px;
    display: flex;
    align-items: center;
    align-self: center;
    // justify-self: center;
    justify-content: center;
    width: 297px;
    height: 63px;
    border: 2px solid #8B9D83;
    border-radius: 78px;

    a {
        color: #686656;
        display: block
    }

    grid-column-start: 2;
    // grid-column-end: -1;

}

.titleSlider {
    width: 50%;
    @include FontsizeFontWeightLineheightColor(20px, 400, 21px, #424242)
}



@import '../scss/header.scss';
@import '../scss/slider.scss';
@import '../scss/steps.scss';
@import '../scss/projects.scss';
@import '../scss/secondSlider.scss';
@import '../scss/thirdSlider.scss';
@import '../scss/questions.scss';
@import '../scss/footer.scss';
@import '../scss/media/media1400.scss';
@import '../scss/media/media744.scss';