
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900);
@import '../scss/null.scss';

@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}
// ОБЩИЕ КЛАССЫ ДЛЯ ВСЕГО ПРОЕКТА
.comments {
    @include FontsizeFontWeightLineheightColor(28px,400 ,32.81px ,#424242 );
    }
    .allbuttons{
        @include WidthHeight(323px,81px );
        background-color:#8B9D83;
        border-radius: 20px;
        @include FontsizeFontWeightLineheightColor(16px,400 ,18px ,white )
    }
    .h3style { // заголовки h3 Прозрачный и понятный процесс работы
        @include FontsizeFontWeightLineheightColor(48px,600 ,56.25px ,#424242 );
    }
    
.container {
    // max-width: 1920px;
    overflow: hidden;
    height:auto;
    background-color: #F3F4F0;
    padding: 0 90px;
    flex: 1 1 1920px;

}
// .wrapper{
//     width:100%;
//     height:auto;
//     flex: 1 1 auto;
// }



@import '../scss/header.scss';
@import '../scss/slider.scss';
@import '../scss/steps.scss';
@import '../scss/projects.scss';
@import '../scss/secondSlider.scss';