@mixin FontsizeFontWeightLineheightColor ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;

}

@mixin WidthHeight ($w, $h) {
    width: $w;
    height: $h;
}


.services {
    display: flex;
    padding: 0 90px 80px 90px;

    &__title {
        flex: 1 1 50%;
    }

    &__text {
        flex: 1 1 50%;
    }
}


.thirdSlider-container {
    width: 100%;
    // padding: 80px 0 193px 0;
    display: grid;
    grid-template-columns: fit-content(5%) fit-content(90%) fit-content(5%);
    align-items: center;
    justify-items: center;
    column-gap: 0 60px;
    padding: 0 0px;
}

.thirdSlider-sliderLine {
    overflow: hidden;
    width:100%;

}

.thirdSlider {

    &__items {
        padding-right: 30px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        transition: all 0.5s ease-out;
    }

    &_item {
        // padding: 0 30px;
        width: 100%;
        border: 4px solid #8B9D83;
        border-radius: 15px;
        display: flex; // элементы слайдера
        flex-direction: column;
        margin-left:30px;
        align-items: center;
    }

}
.thirdSlider_item_thirdSlider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    h5{
        margin: 33px 0 17px 0;
    }
    span {
        @include FontsizeFontWeightLineheightColor(16px,400 ,18px ,#424242);
        margin: 0 0 35px 0;
        padding: 0 36px;
    }
}
.thirdSlider_img {
    width: 100%;
        // height: auto;

}
.third_button {
    width: 80%;
    margin-bottom: 32px;
}

.thirdSlider_bottom-button{
    margin-top: 0px;
    
    grid-column-start: 2;
// grid-row: (300px,2);
    // grid-column-end: -1;

}