@media (max-width:744px) {

    .container {
        flex: 1 1 744px;


        &__header {
            padding: 0 62px;
            margin-bottom: 59px;
        }
    }

   

    .header__info {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .header__logo {
        img {
            width:200px;
            height: auto;
        }
    }
    
    @import '../burger.scss';


}


