@media (max-width:744px) {

    .container {
        flex: 1 1 744px;


        &__header {
            padding: 0 62px;
            margin-bottom: 59px;
        }
    }

    .header__burger1 {
        position: relative;
        display: block;
        flex-shrink: 2;
        transition: all 1.5s ease;

        span {
            position: absolute;
            background-color: black;
            width: 50%;
            height: 3px;
            top: 10px;
        }
    }

    .header__burger1::before {
        content: "";
        position: absolute;
        background-color: black;
        width: 100%;
        height: 3px;
        top: -5px;
    }

    .header__burger1::after {
        content: "";
        position: absolute;
        background-color: black;
        width: 100%;
        height: 3px;
        top: -20px;
    }

    .header__info {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .header__logo {
        img {
            width:200px;
            height: auto;
        }
    }
    
    @import '../burger.scss';


}


